                body {
                    background-color: rgb(121, 118, 115);
                }
                
                .cont {
                    margin: 15%;
                    background-color: lightcyan;
                    padding: 2rem 1rem 2rem 1rem;
                    box-shadow: 0 0 5px 5px rgba(244, 245, 243, 0.747);
                    border-radius: 8px;
                }
                
                .heading {
                    font-weight: 600;
                    text-align: center;
                }